#main-div {
    margin: 0 auto;
    width: 70%;
}
#main-div > h1 {
  color: white;
  background-color: black;
  display: inline-block;
  padding: 10px;
  font-size: 3em;
}
#main-div > p {
  color: white;
  background-color: black;
  display: inline-block;
  padding: 10px;
  font-size: 1.2rem;
}
.button-pane * {
    margin-right: 3px;
}
p-table thead {
    background-color: red;
}
.table-container {
    width: 100%;
    margin: 0 auto;
}
