@if (this.showSpinner) {
<div class="progress-spinner">
    <p-progressSpinner ariaLabel="loading" />
</div>
}
<div id="top-pane-bar">
    <p>
        <a target="_blank" href="https://github.com/bradleyleopold"> Project created by Bradley Leopold</a>
    </p>
</div>
<div id="main-div">

    <h1>Inventory App Demo</h1>
    <p>
        This application is a simple example of how to add, edit, and delete items from a table
        using Angular, .NET 8, and a SQLite database.
    </p>
    <br />
    <p-toast />
    <p-confirmDialog />

    <app-add-edit-item-modal (itemAddedEvent)="itemAdded($event)"
                             (itemEditedEvent)="itemEdited($event)" />

    <div class="table-container">

        @if (this.displayTable) {
        <p-button (click)="openAddItemDialog()" icon="pi pi-plus" title="Add item" [raised]="true" size="small" label="Add item" />
        <p-table styleClass="p-datatable-striped"
                 [value]="itemsList"
                 [tableStyle]="{ 'min-width': '20rem', 'width': '100%', 'margin-top': '3px', 'border': '1px solid black' }"
                 [paginator]="true"
                 [rows]="5"
                 [rowsPerPageOptions]="[5, 10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">Id <p-sortIcon field="id" /></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                    <th pSortableColumn="description">Description <p-sortIcon field="description" /></th>
                    <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity" /></th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td class="button-pane">
                        <p-button (click)="this.openEditItemDialog(item)" icon="pi pi-pencil" title="Edit item" [raised]="true" size="small" />
                        <p-button (click)="openItemDeleteConfirmation(item)" icon="pi pi-trash" title="Delete item" severity="danger" [raised]="true" size="small" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
        }

    </div>

</div>


